<h1>Welcome <%= current_user.name.capitalize %> to Your FamBook!</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Family Member</th>
      <th>Email</th>
      <th>Mobile</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Back to Home Page', root_path, class: "btn btn-md btn-primary" %>

<%= link_to "Go to Your FamBook Page!", user_path(current_user), class: "btn btn-md btn-primary" %>

<%= link_to 'Log In', new_session_path if !current_user%>
