<h1> <%= @user.name %></h1><br>
<h2><%= @user.email %></h2>

<p>This is where you will see stories, pics and videos.</p>

<strong>Name: </strong>
<%= @user.name %>
<br>
<strong>Email: </strong>
<%= @user.email %>
<br>
<strong>Mobile: </strong>
<%= @user.mobile %>
<br>
<strong>Address: </strong>
<%= @user.address %>
<br>
<strong>DOB: </strong>
<%= @user.dob %>

<%= render 'boards/form' %>
<% @user.boards.each do |board| %>
  <%= board.name %>
    <% board.stories.each do |story| %>
      <%= story.title %>
    <% end %>
    Add a story to this board.
    <%= render 'stories/form', :board => board %>
  <% end %>

    <br>
    <%= link_to 'Back to welcome page', users_path %>
    <br>
    <br>
  <% if current_user == @user %>
    <%= link_to 'Edit your profile page!', edit_user_path(@user) %>
    <br>
    <br>
    <%= link_to 'Delete your profile', :user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
