<h1> <%= @user.name %></h1>

<p>This is where you will see stories, pics and videos.</p>

<strong>Name: </strong>
<%= @user.name %>
<br>
<strong>Email: </strong>
<%= @user.email %>
<br>
<strong>Mobile: </strong>
<%= @user.mobile %>
<br>
<strong>Address: </strong>
<%= @user.address %>
<br>
<strong>DOB: </strong>
<%= @user.dob %>


<br>
<%= link_to 'Back to welcome page', users_path %>
<br>
<br>
<%= link_to 'Edit your profile page!', edit_user_path(@user) %>
<br>
<br>
<%= link_to 'Delete your profile', :user, method: :delete, data: {confirm: "Are you sure?"} %>
