<%= provide(:title, @user.name.capitalize) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1><%= @user.name.capitalize %></h1>
    </section>
  </aside>
</div>
<p>This is where you will see stories, pics and videos.</p>
<table>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.mobile %></td>
      <td><%= link_to 'Show', @user %></td>
      <% if current_user == @user %>
        <td><%= link_to 'Edit', edit_user_path(@user)%></td>
        <td><%= link_to 'Delete', @user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>

  </tbody>
</table>

<strong>Name: </strong>
<%= @user.name %>
<br>
<strong>Email: </strong>
<%= @user.email %>
<br>
<strong>Mobile: </strong>
<%= @user.mobile %>
<br>
<strong>Address: </strong>
<%= @user.address %>
<br>
<strong>DOB: </strong>
<%= @user.dob %>

<%= render 'boards/form' %>
<% @user.boards.each do |board| %>
  <%= board.name %>
    <% board.stories.each do |story| %>
      <%= story.title %>
    <% end %>
    Add a story to this board.
    <%= render 'stories/form', :board => board %>
  <% end %>

    <br>
    <%= link_to 'Back to welcome page', users_path %>
    <br>
    <br>
  <% if current_user == @user %>
    <%= link_to 'Edit your profile page!', edit_user_path(@user) %>
    <br>
    <br>
    <%= link_to 'Delete your profile', :user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
