<%= form_for([@board, @story]) do |f| %>

  <div class='field'>
    <%= f.label :story_date %>
    <%= f.date_select :story_date, :start_year => 1900, :end_year => Date.today.year %>
  </div>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class='field'>
    <%= f.label :description%>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.hidden_field :board_id, :value => @board.id %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
