<%= form_for([@board, @story]) do |f| %>
  <% if @story.errors.any?  %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>


  <div class='field'>
    <%= select_date Date.today, prefix: :start_date %>
  </div>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='field'>
    <%= f.label :description%>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.hidden_field :board_id, :value => @board.id %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
