<h1 class='header'>Stories About Your Family</h1>
  <dl>
    <% @board.stories.each do |story| %>
      <br>
    <dt><%= story.story_date %></dt>
    <dt><%= story.title %></dt>
    <dd><%= story.description %></dd>
    <dd><%= link_to 'Edit this story', edit_board_story_path(@board, story) %></dd>
    <% end %>
  </dl>

  <% if current_user == @user %>
    <<%= link_to 'Edit your Board', edit_board_path(@board)%></td>
    <%= link_to 'Delete', @board, method: :delete, data: {confirm: 'Are you sure?'} %></td>
  <% end %>

  <br>
  <%= link_to 'Add Another Story', new_board_story_path(@board), class: "btn btn-md btn-primary" %>
  <br>
  <%= link_to 'Back To Your Family Board', boards_path(@board), class: "btn btn-md btn-primary" %>
