<p id=:notice><%= notice %></p>

<h1 class='header'>Your FamBook Story Board</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <strong>name: </strong>
    <%= @board.name %>
  </p>

  <tr>
    <% @board.stories.each do |story| %>
    <th><%= story.story_date%></th>
    <th><%= story.title %></th>
    <th><%= story.description %></th>
    <th><%= link_to 'Edit this story', edit_board_story_path(@board, story) %></th>
    <% end %>
  </tr>


  <% if current_user == @user %>
    <td><%= link_to 'Edit your Board', edit_board_path(@board)%></td>
    <td><%= link_to 'Delete', @board, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    
  <% end %>

  <br>

  <br>
  <%= link_to 'Add Another Story', new_board_story_path(@board) %>
