<p id=:notice><%= notice %></p>

<h1>This is my Board show page</h1>

  <p>
    <strong>name: </strong>
    <%= @board.name %>
  </p>

  <ul>
    <% @board.stories.each do |story| %>
    <li><%= story.story_date%></li>
    <li><%= story.title %></li>
    <li><%= story.description %></li>
    <% end %>
  </ul>


  <% if current_user == @user %>
    <td><%= link_to 'Edit your Board', edit_board_path(@board)%></td>
    <td><%= link_to 'Delete', @board, method: :delete, data: {confirm: 'Are you sure?'} %></td>
  <% end %>

  <br>
  <%= link_to 'Back to your Family Board', boards_path %>
  <br>
  <%= link_to 'Add Another Story', new_board_story_path(@board) %>
