<p id=:notice><%= notice %></p>

<h1>This is my Board show page</h1>

  <p>
    <strong>name: </strong>
    <%= @board.name %>
  </p>

  <ul>
    <% @board.stories.each do |story| %>
    <li><%= story.story_date%></li>
    <li><%= story.title %></li>
    <li><%= story.description %></li>
    <% end %>
  </ul>

  <br>
  <%= link_to 'Edit your Board', edit_board_path(@board) %>
  <br>
  <%= link_to 'Delete your Board', boards_path  %>
  <br>
  <%= link_to 'Back to your Family Board', boards_path %>
  <br>
  <%= link_to 'Add Another Story', new_board_story_path(@board) %>
