<h1>This is my Board show page</h1>

  <p>
    <strong>name: </strong>
    <%= @board.name %>
  </p>

  <ul>
    <% @board.stories.each do |story| %>
    <li><%= story.description %></li>
    <% end %>
  </ul>

  
      Add a story to this board.
      <%= render 'stories/form', :board => board %>
    <% end %>

  <%= link_to 'Edit your Board', edit_board_path(@board) %>
  <%= link_to 'Back', boards_path %>
  <%#= link_to 'Add another Board', new_board_story_path(@board) %>
